.well.well-large
  %h2 Why Reviews?
  %br/
  %ol
    %li 90% of your potential customers will visit your website before purchasing.
    %br/
    %li Reviews are the most trusted source of information you can provide your visitors (aside from a recommendation from friends and family).
    %br/
    %li Reviews can help you rank higher in Google.
    %br/
    %li Reviews are shareable so your customers can spread the word.
%h3.text-center Research on Consumer Reviews and Word of Mouth Marketing
#container.js-masonry{'data-masonry-options' => '{ "columnWidth": 0, "itemSelector": ".item" }'}
  .well.well-small.span3.item{:style=>"width:235px"}
    %p.text-center
      Company websites are the #1 destination for people researching a purchase decision.
    %h1.text-center
      90%
    %p.text-center
      of people visit the company website before making a purchase decision.
    %p.muted.text-center
      %small
        Source: #{link_to 'Incyte Group', "https://getsatisfaction.com/corp/company/press-releases/read/investing-in-facebook-twitter-pinterest-isnt-paying-off-for-brands"}
  .well.well-small.span3.item{:style=>"width:235px"}
    %h1.text-center
      92%
    %p.text-center
      of users read internet reviews.
    %p.muted.text-center
      %small
        Source: Etailing Group
  .well.well-small.span3.item{:style=>"width:235px"}
    %h1.text-center
      #{"#2"}
    %p.text-center
      Online reviews are the second most trusted source of information for brands.
    %p.text-center
      %small
        Source: #{link_to 'Nielsen', "http://www.nielsen.com/us/en/newswire/2012/consumer-trust-in-online-social-and-mobile-advertising-grows.html"}
  .well.well-small.span3.item{:style=>"width:235px"}
    %h1.text-center
      #{"#1"}
    %p.text-center
      Recommendations from friends and family are the most trusted source of information for brands.
    %p.muted.text-center
      %small
        Source: #{link_to 'Nielsen', "http://www.nielsen.com/us/en/newswire/2012/consumer-trust-in-online-social-and-mobile-advertising-grows.html"}
  .well.well-small.span3.item{:style=>"width:235px"}
    %p.text-center
      "External sites are important for generating online reviews,
      %strong but your leads and customers are on your website all the time!
      %strong Why not create a dedicated place for happy customers to submit their stories -- 
      and where other site potential customers can also read those stories?
      Having reviews of your product or service readily accessible when site visitors are in the research phase is key..."
    %p.muted.text-center
      %small
        Source: #{link_to 'Hubspot', "http://blog.hubspot.com/blog/tabid/6307/bid/31852/A-Marketer-s-Guide-to-Accumulating-Awesome-Online-Reviews.aspx"}
  .well.well-small.span3.item{:style=>"width:235px"}
    %h1.text-center 87%
    %p.text-center
      "POSITIVE information I’ve read online has reinforced my decision to purchase a product or service recommended to me."
    %p.muted.text-center
      %small
        Source: #{link_to 'Cone Communications', "http://www.conecomm.com/stuff/contentmgr/files/0/286c351989671ae74994fec139863bb2/files/2011_cone_online_influence_trend_tracker_release_and_fact_sheet.pdf"} 
  .well.well-small.span3.item{:style=>"width:235px"}
    %p.text-center
      Recommendations from friends and family and online reviews are the most trusted sources of information.
    %p.text-center
      %small
        Source: #{link_to 'Forrester Research', "http://www.marketingcharts.com/wp/interactive/few-consumers-trust-social-media-marketing-internet-ads-28061/attachment/forrester-consumer-trust-advertising-promotion-types-mar2013/"}
  .well.well-small.span3.item{:style=>"width:235px"}
    %h1.text-center 72%
    %p.text-center
      "of consumers trust online reviews as much as personal recommendations."
    %p.muted.text-center
      %small
        Source: #{link_to 'Search Engine Land', "http://searchengineland.com/study-72-of-consumers-trust-online-reviews-as-much-as-personal-recommendations-114152"}
  .well.well-small.span3.item{:style=>"width:235px"}
    %h1.text-center
      "Nice"
    %p.text-center
      is the #1 keyword in reviews on Yelp.
    %p.muted.text-center
      %small
        Source: Yelp
  .well.well-small.span3.item{:style=>"width:235px"}
    %h1.text-center
      84%
    %p.text-center
      of millenials say that user generated content from strangers influences their purchase decisions
    %p.muted.text-center
      %small
        Source: #{link_to 'MarketingProfs', "http://www.marketingprofs.com/charts/2012/6969/gen-y-wont-buy-without-user-generated-input"}
  .well.well-small.span3.item{:style=>"width:235px"}
    %h1.text-center
      51%
    %p.text-center
      of millenials say that user generated content from strangers is more likely to influence their purchases than recommendations from friends and family.
    %p.muted.text-center
      %small
        Source: #{link_to 'MarketingProfs', "http://www.marketingprofs.com/charts/2012/6969/gen-y-wont-buy-without-user-generated-input"}
  .well.well-small.span3.item{:style=>"width:235px"}
    %p.text-center
      Having a "good experience" is the
    %h1.text-center
      #{"#1"}
    %p.text-center
      reason people talk about a product or service.
    %p.muted.text-center
      %small
        Source: #{link_to 'Keller Fay Group', "http://about.houseparty.com/wp-content/uploads/2013/05/Experience-Driven-WOM-By-Keller-Fay-Group-May-2013.pdf"}
  .well.well-small.span3.item{:style=>"width:235px"}
    %h1.text-center
      85%
    %p.text-center
      of consumers find local business information online.
    %p.muted.text-center
      %small
        Source: #{link_to 'Nielsen', "http://www.nielsen.com/us/en/newswire/2013/the-reviews-are-in--yelp-users-are-four-star-consumers.html"}


